* {
    box-sizing: border-box;
  }

body {
    background-color: gray;
}

header {
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

input {
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer {
    text-align: center;
    color: white;
}

#forecast {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    height: 300px;
    width: 500px;
    border: 10px solid black;
    border-radius: 30px;
    background-color: lightblue;
}

#temp {
    font-size: 45px;
}

#conditions {
    font-size: 45px;
}

a:visited {
    color: white;
}